<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1078783298641-o4n854vvtnir1gd42r8lrg4o1focmb2u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1078783298641-o4n854vvtnir1gd42r8lrg4o1focmb2u</string>
	<key>API_KEY</key>
	<string>AIzaSyCaZ_F8TVyfJHdBZtK5jGHuZQJB_dDYhNg</string>
	<key>GCM_SENDER_ID</key>
	<string>1078783298641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CLC.ClickerGame</string>
	<key>PROJECT_ID</key>
	<string>clickergame-3934d</string>
	<key>STORAGE_BUCKET</key>
	<string>clickergame-3934d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1078783298641:ios:e0fe0ab12f38b7c367bc70</string>
</dict>
</plist>